---
import { Image } from 'astro:assets'
import Rocket from '../../assets/pics/rocket.gif'
import PageSpeed from '../../assets/pics/PageSpeed.jpg'
import NetlifyGit from '../../assets/pics/NetlifyGit.jpg'
import Bezshovnie from '../../assets/pics/bezshovnie.gif'

---
<!-- Features -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-24 lg:my-52">
  <div class="relative p-6 md:p-16">
    <!-- Grid -->
    <div class="relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center">
      <div class="mb-10 lg:mb-0 lg:col-span-6 lg:col-start-7 lg:order-2">
        <h2 class="text-2xl text-gray-800 font-bold sm:text-3xl">
          Чем <span class="greenhead">мои сайты лучше</span> сайтов конкурентов?
        </h2>

        <!-- Tab Navs -->
        <nav class="grid gap-4 mt-5 md:mt-10" aria-label="Tabs" role="tablist" aria-orientation="vertical">
          <button type="button" class="hs-tab-active:bg-[#fff] hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-50 focus:outline-none focus:bg-[#fff] p-4 md:p-5 rounded-3xl active" id="tabs-with-card-item-1" aria-selected="true" data-hs-tab="#tabs-with-card-1" aria-controls="tabs-with-card-1" role="tab">
            <span class="flex gap-x-6">
              <svg class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-[#13b690]  text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12 14 4-4"/><path d="M3.34 19a10 10 0 1 1 17.32 0"/></svg>
              <span class="grow">
                <span class="block text-xl font-bold hs-tab-active:bg-clip-text hs-tab-active:text-transparent hs-tab-active:bg-gradient-to-r hs-tab-active:from-[#13b690] hs-tab-active:to-[#855a9e] text-gray-800 ">В зеленой зоне Goole PageSpeeg</span>
                <span class="block mt-1 text-gray-800">Сайты быстро загружаются, что улучшает пользовательский опыт и снижает вероятность отказов. Это положительно влияет на общую эффективность SEO.</span>
              </span>
            </span>
          </button>
          
          <button type="button" class="hs-tab-active:bg-[#fff] hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-none focus:bg-gray-200 p-4 md:p-5 rounded-xl" id="tabs-with-card-item-3" aria-selected="false" data-hs-tab="#tabs-with-card-3" aria-controls="tabs-with-card-3" role="tab">
            <span class="flex gap-x-6">
              <svg class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-[#13b690] text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"/><path d="M5 3v4"/><path d="M19 17v4"/><path d="M3 5h4"/><path d="M17 19h4"/></svg>
              <span class="grow">
                <span class="block text-xl font-bold hs-tab-active:bg-clip-text hs-tab-active:text-transparent hs-tab-active:bg-gradient-to-r hs-tab-active:from-[#13b690] hs-tab-active:to-[#855a9e] text-gray-800">Бесплатный хостинг (опционально)</span>
                <span class="block mt-1 text-gray-800">Отличное решение для сайтов-сервисов, информационных сайтов и сайтов-визиток.</span>
              </span>
            </span>
          </button>

          <button type="button" class="hs-tab-active:bg-[#fff] hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-none focus:bg-gray-200 p-4 md:p-5 rounded-xl " id="tabs-with-card-item-2" aria-selected="false" data-hs-tab="#tabs-with-card-2" aria-controls="tabs-with-card-2" role="tab">
            <span class="flex gap-x-6">
              <svg class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-[#13b690] text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path d="M20.5,0h-6c-1.93,0-3.5,1.57-3.5,3.5v5c0,1.93,1.57,3.5,3.5,3.5h6c1.93,0,3.5-1.57,3.5-3.5V3.5c0-1.93-1.57-3.5-3.5-3.5Zm-6,1h6c1.208,0,2.217,.86,2.449,2H12.051c.232-1.14,1.242-2,2.449-2Zm6,10h-6c-1.379,0-2.5-1.122-2.5-2.5V4h11v4.5c0,1.378-1.121,2.5-2.5,2.5Zm-8,4H1.05c.232-1.14,1.243-2,2.45-2h6c.276,0,.5-.224,.5-.5s-.224-.5-.5-.5H3.5c-1.93,0-3.5,1.57-3.5,3.5v5c0,1.93,1.57,3.5,3.5,3.5h6c1.93,0,3.5-1.57,3.5-3.5v-5c0-.276-.224-.5-.5-.5Zm-.5,5.5c0,1.379-1.121,2.5-2.5,2.5H3.5c-1.379,0-2.5-1.121-2.5-2.5v-4.5H12v4.5Zm11.847-2.86c.199,.191,.205,.508,.014,.707-.098,.102-.229,.153-.36,.153-.125,0-.25-.046-.347-.14l-2.153-2.07v4.21c0,1.93-1.57,3.5-3.5,3.5h-2c-.276,0-.5-.224-.5-.5s.224-.5,.5-.5h2c1.379,0,2.5-1.121,2.5-2.5v-4.21l-2.153,2.07c-.197,.192-.516,.186-.707-.014s-.186-.516,.014-.707l2.301-2.212c.573-.57,1.518-.572,2.099,.006l2.294,2.206ZM.153,6.36c-.199-.191-.205-.508-.014-.707s.51-.204,.707-.014l2.153,2.07V3.5c0-1.93,1.57-3.5,3.5-3.5h2c.276,0,.5,.224,.5,.5s-.224,.5-.5,.5h-2c-1.379,0-2.5,1.122-2.5,2.5V7.71l2.153-2.07c.198-.19,.517-.186,.707,.014,.191,.199,.186,.516-.014,.707l-2.301,2.212c-.286,.286-.664,.429-1.044,.429s-.764-.145-1.055-.435L.153,6.36Z"/></svg>
              <span class="grow">
                <span class="block text-xl font-bold hs-tab-active:bg-clip-text hs-tab-active:text-transparent hs-tab-active:bg-gradient-to-r hs-tab-active:from-[#13b690] hs-tab-active:to-[#855a9e] text-gray-800 ">Бесшовные переходы между страницами</span>
                <span class="block mt-1 text-gray-800 ">Посетители вашего сайта не будут ждать загрузки новой открываемой страницы, переход на новую страницу будет происходить почти мгновенно.</span>
              </span>
            </span>
          </button>

          
        </nav>
        <!-- End Tab Navs -->
      </div>
      <!-- End Col -->

      <div class="lg:col-span-6">
        <div class="relative">
          <!-- Tab Content -->
          <div>
            <div id="tabs-with-card-1" role="tabpanel" aria-labelledby="tabs-with-card-item-1">
              <Image src={PageSpeed} alt="PageSpeed" class="shadow-xl shadow-gray-200 rounded-xl" />
            </div>

            <div id="tabs-with-card-2" class="hidden" role="tabpanel" aria-labelledby="tabs-with-card-item-2">
              <Image class="shadow-xl shadow-gray-200 rounded-xl" src={Bezshovnie} alt={`бесшовные переходы`} loading="eager" />
            </div>

            <div id="tabs-with-card-3" class="hidden" role="tabpanel" aria-labelledby="tabs-with-card-item-3">
              <Image class="shadow-xl shadow-gray-200 rounded-xl" src={NetlifyGit} alt={`Бесплатный хостинг`} />
            </div>
          </div>
          <!-- End Tab Content -->

          <!-- SVG Element -->
          <div class="hidden absolute top-0 end-0 translate-x-20 md:block lg:translate-x-20">
            <Image width={150} src={Rocket} alt={`быстрые сайты`} />
          </div>
          <!-- End SVG Element -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->

    <!-- Background Color -->
    <div class="absolute inset-0 grid grid-cols-12 size-full">
      <div class="col-span-full lg:col-span-7 lg:col-start-6 bg-gray-100 w-full h-5/6 rounded-xl sm:h-3/4 lg:h-full"></div>
    </div>
    <!-- End Background Color -->
  </div>
</div>
<!-- End Features -->
 
<script>
  import "@preline/tabs/index.js";
</script>