---
import Accordion from "../ui/AccordionResume.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="step-by-step">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Опыт работы"
    />
    <div class="max-w-5xl lg:mx-auto mx-6"><Accordion /></div>
    
  </div>
</Section>
