---
const { id } = Astro.props;
---

<section id={id} class="px-5 flex justify-center overflow-hidden lg:block">
  <div class="w-full lg:max-w-[1280px] 2xl:max-w-[90%] mx-auto">
    <slot />
  </div>
</section>
