---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-[140px] mb-5">
    <SectionTitle
      sectionTitle="Отзывы"
      description="Вот что клиенты говорят о результатах моей работы и сотрудничестве:"
    />
    <div class="rounded-[45px] bg- mb-[150px] text-[#13b690]">
      <SwiperSlider />
    </div>
  </div>
</Section>
